{% extends 'base.html' %}

{% block title %}
    Create a new Blog Category
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <br>
    <h4>Create Category</h4>
    <form method="post" class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div> -->
        <button type="submit" class="btn btn-secondary">Add Category</button>
    </form>
</div>
{% else %}
You are not logged in!
{% endif %}
{% endblock %}