{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ post.title }}
{% endblock %}


{% block content %}

<div class="container">
  {% if post.author.id == user.id %}
  <a href="{% url 'delete_post' post.pk %}" class="float-right"> <button class="btn btn-sm btn-danger mt-4 ml-2">Delete</button></a>
  <a href="{% url 'update_post' post.pk %}" class="float-right"> <button class="btn btn-sm btn-info mt-4 ml-2">Update</button></a>
  {% endif %}
    <h1>{{ post.title }}</h1>
    {% if post.category %}
      <small><a href="{% url 'category' post.category|slugify %}" class="text-dark ml-2">{{ post.category }}</a></small>
      <br>
    {% endif %}
    <small>By:
    <a href="{% url 'show_profile_page' post.author.profile.id  %}">
        {{ post.author.first_name }} 
        {{ post.author.last_name }}</a>
        {% if user.is_authenticated %}
        {% if post.author.id == user.id %}
        {% endif %}
        {% endif %}
        <br>
        {{ post.post_date }}
    </small>
    <hr>
    <br>
    {% if post.header_image %}
        <img src="{{ post.header_image.url }}" alt="{{ post.title }}" height="350" width="400">
    {% endif %}
    <br><br>
    {{ post.body|safe }}
    <br>
    <br>
    <form action="{% url 'like_post' post.pk %}" method="post">
      {% csrf_token %}
      
      {% if user.is_authenticated %}
      
      {% if liked %}
      <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-sm">
        Unlike
      </button> 
      {% else %}
      <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">
        Like
      </button> 
      {% endif %}
      {% else %}
      <small><a href="{% url 'login' %}">Login to like</a></small> 
      {% endif %}
      {{ total_likes }} Likes
    </form>
    <br>
    <br>

    <section >
      <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-lg-10 col-xl-8">
            <div class="card">
              <h4 class="ml-3 mt-3">Comments</h4>
              {% if not post.comments.all %}
                <h6 class="ml-3 mt-3 text-muted">No Comments..</h6>
              {% endif %}
              {% for comment in post.comments.all %}
              <div class="card-body">
                <div class="d-flex flex-start align-items-center">
                    <div>
                    <h6 class="fw-bold text-primary mb-1">{{ comment.name }}</h6>
                    <p class="text-muted small mb-0">
                      {{ comment.created }}
                    </p>
              
                  </div>
                </div>
                <p class="mt-3 mb-4 pb-2">
                  {{ comment.content }}
                </p>
                <hr>
              </div>
              {% endfor %}

              <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                <h5>Leave a Comment</h5>
                <form action="{% url 'comment' post.id %}" method="post">
                  {% csrf_token %}
                  <div class="d-flex flex-start w-100">
                    <div class="form-outline w-100">
                      <br>
                      <textarea class="form-control" name="msg" rows="4"
                        style="background: #fff;"></textarea>
                    </div>
                  </div>
                  <div class="float-end mt-2 pt-1">
                    <button type="submit" class="btn btn-primary btn-sm">Post comment</button>
                  </div>
                </form>
                
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <h4>About the Author:</h4>  
      <div class="card mb-3">
        <div class="row no-gutters">
          <a href="{% url 'show_profile_page' post.author.id %}"></a>
          <div class="col-md-2">
            {% if post.author.profile.profile_pic %}
                <img src="{{ post.author.profile.profile_pic.url }}" class="card-img">
                {% else %}
                <img src="{% static 'blog/images/default_profile_pic.png' %}" class="card-img">
            {% endif %}
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <a href="{% url 'show_profile_page' post.author.profile.id %}" class="text-dark"><h4 class="card-title text-decoration-none">{{ post.author.first_name }} {{ post.author.last_name }}</h4></a>
              {% if post.bio %}  
              <p class="card-text">
                {{ post.author.profile.bio|safe }}
              </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <br>
      <hr>

      <div class="container">
        <div class="row">
          {% for post in recently_viewed_posts %}
          <div class="col-3">
            <h4>{{ post.title }}</h4>
            {% if post.header_image %}
            <img src="{{ post.header_image.url }}" alt="{{ post.title }}" height="100" width="140">
            {% endif %}
            <br>
            <small class="text-muted">
              By: {{ post.author.first_name }} {{ post.author.last_name }}
            </small>
            {% if post.bio %}  
            <p class="card-text">
              {{ post.author.profile.bio|safe }}
            </p>
            {% endif %}
              <br>
              <br>
              <a href="{% url 'article-detail' post.id %}">
              <button class="btn btn-sm btn-secondary">
                Read again
              </button>
              </a>
          </div>
        {% endfor %}
        </div>
      </div>
      
      
    {% endblock %}    
</div>
