{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}


{% block content %}

<!-- <div class="container">
  <br>
  <h3>Posts</h3>
{% for post in object_list %}
<ul>
<li>
  <h5>{{ post.title }} <small>- <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a></small> </h5>  
  <small>By: {{post.author.first_name }} {{ post.author.last_name }}</small>
  <small class="ml-2">{{ post.post_date }}
    {% if user.is_authenticated %}
    {% if post.author.id == user.id %}
    <a href="{% url 'update_post' post.pk %}" class="ml-3">Edit</a>
    <a href="{% url 'delete_post' post.pk %}" class="ml-2">Delete</a>
    {% endif %}
    {% endif %}
  </small><br />
  <p>{{ post.body|slice:'300'|safe }}</p>
  {% if  post.header_image %}
  <p> <img src="{{ post.header_image.url }}" height="160" width="150" class=""/></p>
  {% endif %}
</li>
<form action="{% url 'like_post' post.pk %}" method="post">
  {% csrf_token %}

  {% if user.is_authenticated %}
  <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">
      👍🏻
  </button> 
  {% else %}
   <small><a href="{% url 'login' %}">Login to like</a></small> 
  {% endif %}
  {{ post.total_likes }} Likes
</form>
<a href="{% url 'article-detail' post.pk %}">See full Blog</a>
</ul> 
<br>
{% endfor %}
</div> -->

{% for post in object_list %}
<section>
  <div class="container py-4">
    <div class="card">
      <div class="row">
        {% if  post.header_image %}
        <div class="col-md-3">
            <img src="{{ post.header_image.url }}"  width="270" height="255"/>
        </div>
        {% endif %}
        <div class="col-md-9 px-1">
          <div class="card-block px-3">
            <br>
            <div class="col-0 mr-3">
              {% if user.is_authenticated %}
              {% if post.author.id == user.id %}
              <button
              type="button"
              class="btn btn-outline-secondary btn-sm dropdown-toggle float-right"
              data-toggle="dropdown"></button>
              <ul class="dropdown-menu">
                <li>
                  <a href="{% url 'update_post' post.pk %}" class="dropdown-item">Edit</a>
                  <a href="{% url 'delete_post' post.pk %}" class="dropdown-item">Delete</a>
                </li>
              </ul>
              {% endif %}
              {% endif %}
            <h4 class="card-title">
              {{ post.title }}
            </h4>
            {% if user.is_authenticated %}
            <small>
              By: <a href="{% url 'show_profile_page' post.author.profile.id  %}" class="text-dark">
                {{post.author.first_name }} {{ post.author.last_name }}
              </a>
            </small>
            {% else %}
            <small>
              By: <a href="{% url 'login'  %}" class="text-dark">
                {{post.author.first_name }} {{ post.author.last_name }}
              </a>
            </small>              
            {% endif %}
            <small class="ml-2">
              {{ post.post_date }}
            </small>
            <small><a href="{% url 'category' post.category|slugify %}" class="text-dark ml-2">{{ post.category }}</a></small>
            <br />
            <p class="card-text">
              {{ post.body|slice:'300'|safe }}
            </p>        
            {% if user.is_authenticated %}
              <a href="{% url 'article-detail' post.pk %}" class="btn btn-secondary btn-sm">Read More</a>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-secondary btn-sm">Read More</a>
            {% endif %}
              <form action="{% url 'like_post' post.pk %}" method="post" class="d-flex align-items-end justify-content-end">
                {% csrf_token %}
            
                {% if user.is_authenticated %}
                  <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-outline-light btn-sm">
                  👍🏻
                  </button> 
                {% else %}
                  <small><a href="{% url 'login' %}" class="btn btn-outline-light btn-sm">
                    👍🏻
                  </a></small> 
                {% endif %}
                {{ post.total_likes }} Likes 
              </form>
              </div>
          
          </div>
        </div>
        </div>
      </div>
    </div>
</section>
{% endfor %}
{% endblock %}

